<div class="row">
  <div class='col-lg-8 col-lg-offset-2'>
    <h3><%= translate('devise.password_forgotten') %></h3>
  </div>
</div>

<div class="row">   <!-- form container -->
<%= form_for(resource, :as => resource_name, 
             :url => password_path(resource_name), 
             :html => { :class => 'col-lg-8 col-lg-offset-2',:method => :post }
            ) do |f| %>
  <%= devise_error_messages! %>
  <br/>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, { :autofocus => true, :class => 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions", { :class => 'form-control' } %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

</div> <!-- end of 'form container -->
